%h1 Listado Reportes

%table.table.table-hover
  %thead
    %tr
      %th Nombre
      %th Pdte mpal
      %th Dip local
      %th Dip federal

  %tbody
    - @reports.each do |report|
      %tr
        %td
          = link_to report.nombre, report
          %br
          \ Renovacion CDM:
          %br
            = report.renovacion_cdm.strftime("%d-%m-%Y")

        %td= report.pdte_mpal
        %td= report.dip_local
        %td= report.dip_federal
        %td
          = link_to 'Edit', edit_report_path(report)
          = link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Report', new_report_path, class: "btn btn-success"
